/* styles.css */

.travel-card {
    margin-top: 2vh;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    padding: 10px;
    border: 2px solid #757575;  
}

.travel-card-name {
    font-size: 30px;
    text-align: center;
    font-family: CooperBlack;
    font-weight: bold;
    margin-bottom: 10px;
}

.travel-card-duration {
    font-size: 20px;
    text-align: center;
    font-family: CooperBlack;
    margin-bottom: 10px;
}

.travel-card-category {
    margin-left: 20px;
    font-size: 15px;
    text-decoration: underline;
    text-align: center;
    font-family: CooperBlack;
    margin-bottom: 15px;
}



.travel-card-text {
    font-size: 20px;
    text-align: center;
    font-family: CooperBlack;
    margin-bottom: 10px;
}

.travel-card-button {
    font-size: 18px;
    text-align: center;
}

.my-travel-lists {
    overflow-y: auto;
    width: 39vw;
    height: 51.3vh;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #000;  /* 테두리 추가 */
}

.image-container img {
    position: relative;
    top: 5vh;  
    width: 39vw;
}

.date {
    font-size: 30px;
    margin-top: 5vh;
}

.travel-card-empty{
    font-size: 30px;
    text-align: match-parent;
    height: 17.86vh;
    font-family: CooperBlack;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    position: relative;
    margin-left: 5.6vw;
    margin-right:5.6vw; 
}

.edit-button {
    position: absolute;
    top: 5vh; /* 위치 조절 필요 */
    right: 1.17vw; /* 위치 조절 필요 */
    width: 3vw;
    height: 3vw;
    background: url('./edit.svg');
    border: none; /* 테두리 제거 */
    outline: none; /* 클릭 시 나타나는 아웃라인도 제거합니다. */
    background-size: cover; /* 이미지를 버튼에 꽉 차게 표시 */
}
.my-travel-lists {
    position: relative; /* 현재 스타일에 추가 */
    overflow-y: auto;
    width: 39vw;
    height: 51.3vh;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #000;  /* 테두리 추가 */
}
