h1{
    color: aquamarine;
    font-style: italic;
}

.edit-done-button{
    position: absolute; /* 버튼을 절대 위치로 설정합니다. */
    width: 10vw;
    height: 5vh;
    font-family: CooperBlack;
    font-size: 19px;
    font-weight: 500;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 30px;
    right: 6.4vw; /* 오른쪽으로부터 82px 떨어트립니다. */
    top: 17.42vh; /* 아래쪽으로부터 41px 떨어트립니다. */
    z-index: 10; /* 필요에 따라 z-index를 조정하여 다른 요소 위에 버튼이 나타나게 할 수 있습니다. */
}