.group490 {
    width: 100%;
    height: 10.58vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* 가로 중앙 정렬 */
    justify-content: center; /* 세로 중앙 정렬 */
  }
  
  .detailTitle {
    width: 14.84vw;
    height: 5vh;
    font-family: 'Cooper Black';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    
  }
  
  .subText {
    width: 56.95vw;
    margin-right: 15vw;
    height: 2.5vh;
    font-family: 'Cooper Black';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 21px;
    text-align: justify;
    white-space: nowrap;
    color: #000000;
    
}
  
  .rectangle {
    box-sizing: border-box;
    width: 56.95vw;
    height: 0.6vh;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
  }

  .addButton {
    width: 17vw;
    height: 4.8vh;
    background-color: #95D88A;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    font-family: 'Cooper Black';
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5vh;
    
    /* CardView 스타일 그림자 */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 
                0 4px 8px 0 rgba(0, 0, 0, 0.1), 
                0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.addButton:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 
                0 8px 16px 0 rgba(0, 0, 0, 0.15), 
                0 12px 24px 0 rgba(0, 0, 0, 0.15);
}

.addButton:active {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}


