/*          nav             */
.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    /* border: 1px solid red; */
}

.nav-logo-image {
    width: 220px;
    height: 50px;
    /* border: 1px solid blue; */
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 65px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nav-menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 112px;
    height: 15px;
    border-radius: 20px;
    border: none;
    background-color: #e4e4e4;
    transition: background-color 0.2s ease, border-radius 0.2s ease,
        height 0.2s ease;
}

.recommend:hover {
    background-color: #d9faff;
    border-radius: 25px;
    height: 65px;
}

.story:hover {
    background-color: #ffd1d1;
    border-radius: 25px;
    height: 65px;
}

.mynote:hover {
    background-color: #d8ffd8;
    border-radius: 25px;
    height: 65px;
}

.mypage:hover {
    background-color: #e7e152ba;
    border-radius: 25px;
    height: 65px;
}

.active-recommend {
    background-color: #d9faff;
    border-radius: 25px;
    height: 65px;
}

.active-story {
    background-color: #ffd1d1;
    border-radius: 25px;
    height: 65px;
}

.active-note {
    background-color: #d8ffd8;
    border-radius: 25px;
    height: 65px;
}

.active-mypage {
    background-color: #e7e152ba;
    border-radius: 25px;
    height: 65px;
}