
.travel-card {
    margin-top: 2vh;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    padding: 10px;
    border: 2px solid #757575;  
}

.travel-card-name {
    font-size: 30px;
    text-align: center;
    font-family: CooperBlack;
    font-weight: bold;
    margin-bottom: 10px;
}

.travel-card-duration {
    font-size: 20px;
    text-align: center;
    font-family: CooperBlack;
    margin-bottom: 10px;
}

.travel-card-category {
    font-size: 15px;
    text-align: center;
    font-family: CooperBlack;
}

.travel-card-text {
    font-size: 20px;
    text-align: center;
    font-family: CooperBlack;
    margin-bottom: 10px;
}

.travel-card-button {
    font-size: 18px;
    text-align: center;
}

.date {
    font-size: 30px;
    margin-top: 5vh;
}

.travel-card-empty {
    font-size: 30px;
    text-align: match-parent;
    height: 17.86vh;
    font-family: CooperBlack;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    margin-left: 5.6vw;
    margin-right:5.6vw;
}

.edit-button {
    position: absolute;
    top: 5vh;
    right: 1.17vw;
    width: 3vw;
    height: 3vw;
    background: url('./edit.svg');
    border: none;
    outline: none;
    background-size: cover;
}

.my-travel-lists {
    position: relative;
    overflow-y: auto; /* 수직으로만 스크롤 */
    overflow-x: hidden; /* 수평 스크롤 방지 */
    width: 39vw;
    height: 51.3vh;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #000;
}

.image-container img {
    position: relative;
    top: 5vh;  
    width: 39vw;
}

.num-box {
    width: 18px;
    height: 18px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}
.travel-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}